.b-business-card-popup {
    width: 100%;
    max-width: 970px;
    .b-business-card {
        .ic-business-card-schedule,
        .ic-business-card-phones {
            position: absolute;
            top: 0;
            left: 0;
        }
        &__top {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__name {}
        &__schedule {
            min-width: 33.33333%;
            text-align: left;
            p {
                padding-left: 75px;
                &:first-child {
                    padding-bottom: 10px;
                }
            }
        }
        &__phones {
            min-width: 33.33333%;
            padding-right: 7%;
            text-align: left;
            p {
                padding-left: 75px;
                line-height: 1.2em;
                color: #515151;
                &:first-child {
                    color: #000;
                    font-weight: 600;
                    position: relative;
                    padding-bottom: 10px;
                }
            }
        }
        &__send-message {
            &-btn {
                font-weight: 600;
                color: $color_button_text1;
                background-color: $color_button_bg1;
                border: 1px solid $color_button_bg1;
                @include box-shadow(0, 5px, 21px, rgba(22, 23, 24, 0.28));
                padding: 15px 45px;
                transition: all 1s;
                line-height: 100px;
                &:hover {
                    background: $color_button_text1;
                    text-decoration: none;
                    color: $color_button_bg1;
                }
            }
        }
        &__address {
            text-align: center;
            min-height: 22px;
            line-height: 22px;
            &:before,
            &:after {
                display: none;
            }
            &-select {
                background-image: url("../img/select-arrow.png");
                background-position: right center;
                background-repeat: no-repeat;
                position: relative;
                padding: 0 18px 0 10px;
                z-index: 10;
                line-height: 43px;
                opacity: 0.8;
            }
            .g-span-select__title {
                border-bottom: 2px dotted;
            }
            .g-span-select__ul {
                text-align: left;
            }
        }

        .ui-tabs .ui-tabs-nav li {
            float: right;
        }
        &_tabs {
            &-branches {
                text-align: left;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    li {
                        width: 28%;
                        margin: 0 0 20px 16%;
                        span {
                            display: block;
                            font-weight: 600;
                        }
                    }
                }
            }
            &-map {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .b-business-card-popup .b-business-card {
        &__name {
            width: 100%;
            order: 1;
        }
        &__schedule,
        &__phones {
            order: 2;
            padding: 0;
            min-width: auto;
            display: inline-block;
            margin: 15px 0 0;
        }
    }
} // end max-width: 1100px

@media screen and (max-width: 700px) {
    .b-business-card-popup .b-business-card_tabs-branches ul li {
        width: 37%;
        margin: 0 0 20px 10%;
    }
} // end max-width: 700px

@media screen and (max-width: 600px) {
    .b-business-card-popup .b-business-card {
        &__schedule {
            order: 3;
        }
        &__schedule,
        &__phones {
            width: 65%;
            display: block;
            border-bottom: 1px solid #b9b9b9;
            padding-bottom: 15px;
        }
        &__send-message-btn {
            padding: 12px 32px;
        }
        &_tabs-branches ul li {
            width: 39%;
            margin: 0 0 20px 6%;
        }
    }
} // end max-width: 600px

@media screen and (max-width: 500px) {
    .b-business-card-popup .b-business-card {
        &__schedule,
        &__phones {
            width: 80%;
            display: block;
        }
        &_tabs-branches ul li {
            width: 47%;
            margin: 0 0 20px 3%;
        }
        &__address .g-span-select__ul {
            right: -30%;
        }
    }
} // end max-width: 500px

@media screen and (max-width: 400px) {
    .b-business-card-popup {
        width: 96%;
        .b-business-card {
            &__schedule,
            &__phones {
                width: 100%;
                display: block;
            }
            &__send-message-btn {
                padding: 10px 22px;
            }
            &_tabs-branches ul li {
                width: 100%;
            }
        }
    }
} // end max-width: 400px






