/* Fonts */
@font-face {
    font-family: 'OpenSans';
    src: url('../font/opensans-regular.eot');
    src: url('../font/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular.woff2') format('woff2'),
         url('../font/opensans-regular.woff') format('woff'),
         url('../font/OpenSans-Regular.ttf') format('truetype'),
         url('../font/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/opensans-bold.eot');
    src: url('../font/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold.woff2') format('woff2'),
         url('../font/opensans-bold.woff') format('woff'),
         url('../font/OpenSans-Bold.ttf') format('truetype'),
         url('../font/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/opensans-semibold.eot');
    src: url('../font/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold.woff2') format('woff2'),
         url('../font/opensans-semibold.woff') format('woff'),
         url('../font/OpenSans-Semibold.ttf') format('truetype'),
         url('../font/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratL';
    src: url('../font/montserrat-regular.eot');
    src: url('../font/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular.woff2') format('woff2'),
         url('../font/montserrat-regular.woff') format('woff'),
         url('../font/Montserrat-Regular.ttf') format('truetype'),
         url('../font/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MontserratL';
    src: url('../font/montserrat-bold.eot');
    src: url('../font/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-bold.woff2') format('woff2'),
         url('../font/montserrat-bold.woff') format('woff'),
         url('../font/Montserrat-Bold.ttf') format('truetype'),
         url('../font/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
/* Fonts END */
