.b-filter {
    background: #f7f4eb;
    padding: 0 28px;
    width: 100%;
    &__title {
        text-align: center;
        line-height: 33px;
        background: #697aa8;
        color: #fff;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .f-group {
        margin: 0 5% 10px 0;
        line-height: 1.2em;
    }
    &-block {
        padding: 23px 0 20px;
        border-bottom: 1px solid rgba(185, 185, 185, 0.36);
        &:last-child {
            border-bottom: none;
        }
        &__title {
            color: #007ad0;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;
            line-height: 21px;
            min-height: 21px;
            cursor: pointer;
            // margin-top: 23px;
            &::after {
                content: '+';
                text-align: center;
                vertical-align: top;
                line-height: 15px;
                color: #fff;
                display: inline-block;
                height: 18px;
                width: 18px;
                background-color: #697aa8;
                border-radius: 9px;
                position: absolute;
                top: 2px;
                right: -10px;
                z-index: 1;
            }
        }
        &__content {
            margin-top: 3px;
            padding-top: 15px;
            display: none;
            &_categories {
                .parent {}
                ul.children {
                    padding-left: 10px;
                    margin-top: 10px;
                    li {
                        padding: 3px 0;
                    }
                }
            }
        }
        &_button {
            display: flex;
            justify-content: space-between;
        }
        &_price {
            .f-group-wrap_2col .f-group {
                width: 37%;
            }
            .f-group-wrap_2col .f-group:last-child {
                width: 16%;
                margin-right: 0;
            }
        }
        &_open &__title {
            &::after {
                content: '-';
            }
        }
        &_open &__content {
            display: block;
        }
    }
    // &-block_open

    
}

@media screen and (max-width: 1190px) {
    .b-filter {
        width: 270px;
        margin: 0 auto;
    }
} // end max-width: 1190px

