.wrap-relative {
  position: relative;
  display: inline-block;
}

.dropdown {
  cursor: pointer;
}

[class*="ic-"] {
  display: inline-block;
  vertical-align: middle;
  background: url(../image/icon/sprite.png) no-repeat;
  position: relative;
}

.ic-arrow-down {
  background-position: -37px -17px;
  width: 7px;
  height: 10px;
  top: -1px;
  left: 2px;
}
.ic-arrow-up {
  background-position: -32px -27px;
  width: 7px;
  height: 10px;
  top: -2px;
}
.ic-info {
  background-position: -29px 0px;
  width: 17px;
  height: 17px;
}
.ic-p2 {
  background-position: -20px -12px;
  width: 9px;
  height: 13px;
}
.ic-purse {
  background-position: 0px -12px;
  width: 20px;
  height: 15px;
}
.ic-rating {
  background-position: 0px 0px;
  width: 29px;
  height: 12px;
}
.ic-sum {
  background-position: -29px -17px;
  width: 8px;
  height: 10px;
}
.ic-switch-on {
  background-position: 0px -27px;
  width: 16px;
  height: 16px;
  top: -3px;
}
.ic-switch-pause {
  background-position: -16px -27px;
  width: 16px;
  height: 16px;
  top: -3px;
}

.btn {
  height: 36px;
  padding: 0 16px;
  margin-right: 6px;
  display: inline-block;
  font-family: Arial, serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.yellow-btn {
  background: #F8AA1C;
}

.yellow-btn:hover {
  text-decoration: none;
  background: #ffc458;
}

.green-btn {
  background: #aec785;
}

.green-btn:hover {
  text-decoration: none;
  background: #b4da85;
}

/* account top bar */
.account-top-bar {
  float: right;
  width: 600px;
}

.account-payment-menu {
  float: left;
  background: #f9f9f9;
  padding: 0 15px;
  border: 1px solid #e7e7e7;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
}

.purse {
  border-right: 1px solid #e7e7e7;
  display: inline-block;
  line-height: 34px;
  padding-right: 12px;
  margin-right: 10px;
}

.purse .ic-purse {
  margin-right: 10px;
}

.account-payment-menu a {
  color: #1c3052;
  margin: 0 10px;
}

.account-menu {
  float: right;
  background: #546581;
  color: #fff;
  font-size: 14px;
  padding: 9px 10px;
  position: absolute;
  top: -15px;
  right: 0;
}

.account-menu a {
  color: #fff;
}

.account-menu a:last-child {
  margin-left: 50px;
}

.account-name {
  color: #9dacc6;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.change-password-form {
  color: #1b2f51;
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  position: absolute;
  right: 0;
  top: 51px;
  padding: 15px 22px;
  display: none;
}

/* end account top bar */

/* account content */
.header-table {
  margin: 30px 0;
  font-family: Arial, serif;
  font-size: 14px;
  position: relative;
}

.icon-select3 {
  display: inline-block;
  vertical-align: middle;
  background: url(../image/site-bg/select-bg3.png) no-repeat;
  width: 7px;
  height: 6px;
}

.header-table  .selectboxit-container {
 float: right;
 margin-left: 18px;
}

.header-table .selectboxit {
  width: 250px !important;
  height: 36px;
  line-height: 34px;
  padding: 0 20px 0 10px;
  border: 1px solid #777777;
  border-radius: 5px;
  background: #fff url("../image/site-bg/select-bg.jpg") no-repeat right center;
}

.header-table .selectboxit-options {
  width: 250px !important;
  border: 1px solid #777;
  border-radius: 5px;
}

.changes-menu {
  width: 220px;
  border: 1px solid #f1f1f1;
  position: absolute;
  background: #fff;
  display: none;
  z-index: 1;
}

.changes-menu__block {
  padding: 15px 20px;
  border-bottom: 1px solid #f1f1f1;
  color: #000;
  vertical-align: middle;
  overflow: hidden;
  line-height: 36px;
}

.changes-menu__block a {
  padding-left: 10px;
}

.changes-menu__block .ic-switch-on,
.changes-menu__block .ic-switch-pause {
  top: -1px;
  left: -10px;
}

.changes-menu__block label {
  display: inline-block;
  float: left;
}
.changes-menu__block input {
  width: 42%;
  height: 36px;
  padding: 0px 10px;
  display: inline-block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: right;
  text-align: right;
}
.changes-menu__block .btn {
  display: inline-block;
  float: right;
  padding: 0px 3px;
  margin-left: 9px;
}

.table-responsive {
  overflow-x: auto;
}

.table-list {
  border: 1px solid #dee1e2;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 50px;
}

.table-list thead > tr > td,
.table-list tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee1e2;
  padding: 20px 10px 10px;
}

.table-list thead > tr > td {
  font-weight: bold;
  background: #e9f0fa;
}

.table-list tbody > tr:hover {
  background-color: #f9f9f9;
}

.table-list .span-underline {
  border-bottom: 1px dotted #222222;
  cursor: pointer;
}

.table-list thead .asc::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url(../image/icon/sprite.png) no-repeat;
  background-position: -32px -27px;
  position: relative;
  width: 7px;
  height: 10px;
  top: -2px;
  left: 2px;
}

.table-list .desc::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url(../image/icon/sprite.png) no-repeat;
  background-position: -37px -17px;
  position: relative;
  width: 7px;
  height: 10px;
  top: -1px;
  left: 2px;
}

.pop-up-info {
  position: absolute;
  padding: 5px;
  background: #fff;
  border: 1px solid #f1f1f1;
  display: none;
  left: -150px;
  width: 300px;
  font-weight: 400;
  line-height: 15px;
  z-index: 1;
}

.changes-menu-switch {
  padding: 8px 20px;
  border: 1px solid #f1f1f1;
  position: absolute;
  background: #fff;
  display: none;
  z-index: 1;
  text-align: left;
  width: 150px;
  top: -10px;
  left: 39px;
}

.changes-menu-limit {
  padding: 10px;
  border: 1px solid #f1f1f1;
  position: absolute;
  background: #fff;
  display: none;
  z-index: 1;
  text-align: left;
  width: 325px;
  top: -10px;
  left: 39px;
}

.changes-menu-limit input {
  width: 85px;
  height: 36px;
  padding: 0px 10px;
  margin-right: 12px;
  display: inline-block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  float: left;
  text-align: right;
}
.changes-menu-limit .btn {
  display: inline-block;
  float: left;
  padding: 0 12px;
}

.info-menu-ip {
  padding: 10px;
  border: 1px solid #f1f1f1;
  position: absolute;
  background: #fff;
  display: none;
  z-index: 1;
  text-align: left;
  width: 325px;
  top: -10px;
  left: 15px;
}

.table-ip {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}

.table-ip thead > tr> td,
.table-ip tbody > tr> td {
  background: #fff;
  padding: 0;
  border: none;
  text-align: left;
}

.table-ip tbody > tr> td {
  color: #797979;
}
/* end account content */

/* adaptive */
@media screen and (max-width: 1298px) { 

}