.b-tab-reviews {
    color: #1f1f1f;
    line-height: 1.2em;

    .b-reviews {
        padding: 30px 0;
        &__date {
            text-align: right;
            color: #747474;
        }
        &__author {
            width: $width_col_author;
            float: left;
            text-align: center;
            &-name {
                // text-align: center;
            }
            &-foto {
                max-width: 95px;
                max-height: 112px;
                margin: 0 auto;
                & img {
                    width: 100%;
                }
                &_mob {
                    display: none;
                }
            }
        }
        &__content {
            width: calc(100% - #{$width_col_author + $width_col_buttons});
            float: left;
            padding: 25px 15px 0 35px;
        }
        &__rating {
            .b-rating {
                background: url(../img/stars14.png);
                width: 70px;
                height: 14px;
                position: relative;
                margin-bottom: 15px;
                div {
                    background: url(../img/stars14.png) left bottom;
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    cursor: pointer;
                }
                span {
                    display: block;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    background: url(../img/stars14.png) left center; 
                    width: 0;
                    cursor: pointer;
                }
            }
        }
        &__message_plus,
        &__message_minus {
            position: relative;
            padding-bottom: 20px;
            &:before {
                content: '';
                display: block;
                vertical-align: top;
                background: url(../img/ico.png) no-repeat;
                background-position: 0px -1308px;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 0;
                left: -30px;
            }
        }
        &__message_minus {
            &:before {
                background-position: 0px -1326px;
            }
        }
        &__message-title {
            color: #212121;
            font-size: 16px;
            margin-bottom: 9px;
            display: none;
            & h4 {
                border-bottom: 2px solid #39adff;
                padding-bottom: 2px;
                margin-right: 15px;
                display: inline;
            }
        }
        &__buttons {
            width: 150px;
            float: right;
            text-align: center;
            padding-top: 25px;
        }
        &__answer {
            padding: 14px;
            width: 100%;
            font-size: 16px;
            color: #fff;
            background: #6979a7;
            border: 1px solid #6979a7;
            transition: all 1s;
            @include box-shadow(0, 3px, 7px, rgba(0,0,0,.22));
            display: inline-block;
            &:hover {
                text-decoration: none;
                background-color: transparent;
                color: #6979a7;
            }
        }
        &__bottom {
            text-align: right;
            color: #2c2c2c;
            font-size: 16px;
        }
        &__answer-useful {
            color: #39adff;
        }
        &__answer-not-useful {
            color: #fc732c;
        }
    }

    .b-question {
        margin-top: 10px;
        .b-reviews__buttons {
            display: none;
        }
        &__question-block {
            border-bottom: 1px solid #d1d1d1;
            border-top: 1px solid #d1d1d1;
            padding: 14px 0 6px;
            position: relative;
            min-height: 63px;
            &:before {
                content: '';
                display: block;
                vertical-align: top;
                background: url(../img/ico.png) no-repeat;
                background-position: 0px -1344px;
                width: 29px;
                height: 29px;
                position: absolute;
                top: 15px;
                left: 25px;
            }
            & p {
                padding: 0 15px 0 75px;
                width: calc(100% - #{$width_col_buttons});
            }
            .b-reviews__buttons {
                padding: 0;
                position: absolute;
                top: 7px;
                right: 0;
                display: block;
            }
        }
        &__answer-block {
            padding: 0 0 45px 130px;
            margin-top: 10px;
            width: 100%;
            position: relative;
            min-height: 150px;
            &:before {
                content: '';
                display: block;
                vertical-align: top;
                background: url(../img/ico.png) no-repeat;
                background-position: 0px -1374px;
                width: 36px;
                height: 36px;
                position: absolute;
                top: 0;
                left: 75px;
            }
            .b-reviews__author {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &__answer-message {
            width: calc(100% - #{$width_col_buttons});
            padding-right: 15px;
        }
        &__answer-message-bottom {
            position: relative;
            text-align: center;
            margin-top: 7px;
            .b-question__answer-all-message {
                position: absolute;
                top: 0;
                left: 0;
                color: #ff7800;
            }
            .b-reviews__bottom {
                text-align: center;
            }
            .b-reviews__date {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &__no-answer {
            padding-left: 130px;
            margin-top: 7px;
            color: #ff7800;
        }
    }
}

.b-add-message {
    margin-top: 20px;
    &__button {
        padding: 12px 20px;
        background: $color_button_bg1;
        border: 1px solid $color_button_bg1;
        color: $color_button_text1;
        @include box-shadow(0, 3px, 7px, rgba(0,0,0,.22));
        transition: all 1s;
        cursor: pointer;
        max-width: 200px;
        margin: 20px auto 10px;
        text-align: center;
        font-size: 16px;
        &:hover {
            color: $color_button_bg1;
            background: $color_button_text1;
        }
    }
    &__button + & {
        display: none;
    }
    & .ui-corner-all {
        border-bottom: none;
    }
    .f-group {
        width: 100%;
        text-align: right;
        margin-top: 15px;
    }
    .f-button {
        text-align: center;
        background: $color_button_bg2;
        border: 1px solid $color_button_bg2;
        color: $color_button_text2;
        min-width: 150px;
        @include box-shadow(0, 3px, 7px, rgba(0,0,0,.22));
        &:hover {
            background: $color_button_text2;
            color: $color_button_bg2; 
        }
    }
    .b-tab-question {}
    .b-tab-reviews {}
}















@media screen and (max-width: 900px) {
    .b-tab-reviews {
        .b-question {
            &__question-block {
                &:before {
                    left: 4px;
                }
                & p {
                    padding-left: 40px;
                }
                .b-reviews__buttons {}
            }
            &__answer-block {
                padding-left: 40px;
                &:before {
                    left: 0;
                }
                .b-reviews__author {}
            }
            &__answer-message {}
            &__answer-message-bottom {
                .b-question__answer-all-message {
                    top: 30px
                }
                .b-reviews__bottom {
                    text-align: left;
                }
                .b-reviews__date {}
            }
            &__no-answer {
                padding-left: 40px;
            }
        }
    }
} // end max-width: 900px

@media screen and (max-width: 700px) {
    .b-tab-reviews {
        .b-reviews {
                position: relative;
                padding: 0 0 15px;
                margin-top: 35px;
                border-bottom: 1px solid #e6e6e6;
            &__date {
                position: absolute;
                top: 0;
                right: 0;
            }
            &__author {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                &-foto {
                    display: none;
                    &_mob {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -2px;
                        & img {
                            width: 22px;
                            height: 23px;
                        }
                    }
                }
                &-name {
                    padding-left: 25px;
                }
            }
            &__content {
                width: calc(100% - 150px);
                padding: 0 15px 0 0;
            }
            &__rating {
                .b-rating {
                    margin: 0 auto;
                }
            }
            &__message_plus {
                margin-top: 20px;
            }
            &__message_plus,
            &__message_minus {
                &:before {
                    display: none;
                }
            }
            &__message-title {
                display: block;
            }
            &__answer {
                padding: 8px;
            }
        }

        .b-question {
            .b-reviews__buttons {
                display: block;
                float: none;
                padding: 10px;
                margin: 0 auto;
            }
            &__question-block {
                &:before {}
                & p {
                    width: 100%;
                }
                .b-reviews__buttons {
                    display: none;
                }
            }
            &__answer-block {
                margin-bottom: 45px;
                padding-bottom: 30px;
                position: relative;
                min-height: auto;
                &:before {}
                .b-reviews__author {
                    bottom: 0;
                    top: auto;
                    left: auto;
                    padding-right: 15px;
                }
            }
            &__answer-message {
                width: 100%;
            }
            &__answer-message-bottom {
                .b-question__answer-all-message {}
                .b-reviews__bottom {}
                .b-reviews__date {}
            }
            &__no-answer {}
        }
    }

} // end max-width: 700px


@media screen and (max-width: 600px) {
    .b-tab-reviews {
        .b-reviews {
            &__content {
                width: 100%;
            }
            &__buttons {
                padding: 0 0 25px;
            }
            &__bottom {
                position: absolute;
                bottom: 15px;
                left: 0;
            }
            &__message-title {
                text-align: right;
            }
        }

        .b-question {
            &__question-block {
                &:before {}
                & p {}
                .b-reviews__buttons {

                }
            }
            &__answer-block {
                &:before {}
                .b-reviews__author {}
            }
            &__answer-message {}
            &__answer-message-bottom {
                .b-question__answer-all-message {}
                .b-reviews__bottom {
                    position: static;
                }
                .b-reviews__date {}
            }
            &__no-answer {}
        }
    }
} // end max-width: 600px

@media screen and (max-width: 400px) {
    .b-tab-reviews {
        .b-question {
            &__question-block {
                &:before {}
                & p {}
                .b-reviews__buttons {

                }
            }
            &__answer-block {
                &:before {}
                .b-reviews__author {
                    bottom: 53px;
                }
            }
            &__answer-message {
            }
            &__answer-message-bottom {
                .b-question__answer-all-message {
                bottom: -35px;
                top: auto;
                right: 0;
                }
                .b-reviews__bottom {
                    p {
                        text-align: right;
                        padding-top: 43px;
                    }
                }
                .b-reviews__date {}
            }
            &__no-answer {}
        }
    }
} // end max-width: 400px


@media screen and (max-width: 360px) {
    .b-reviews__rating {
        padding-right: 110px;
        text-align: right; 
    }
    .b-tab-reviews .b-reviews__rating .b-rating {
        margin: 0 0 0 auto;
    }
} // end max-width: 600px





