.b-search {
    .f-field-wrapper .f-label {
        line-height: 35px;
        float: none;
    }
    .f-field-wrapper .f-field {
        float: left;
        width: 30%;
        margin-right: 1%;
        &:first-child {
            width: 40%;
        }
        &:last-child {
            width: auto;
        }
    }
    .f-field label {
        line-height: 36px;
    }
    .f-input {
        padding: 10px;
        color: #303030;
        &:focus {
            border: 1px solid #39adff;
        }
    }
    .f-select {
        width: 100%;
        padding: 6px;
        color: #303030;
        border: 1px solid #aaa;
    }
    .f-buttons {
        margin-top: 10px;
    }

    .g-col-center {
        width: calc(100% - 270px);
    }
    .b-filter {
        .f-field-wrapper .f-label {
            line-height: initial;
            float: left;
        }
        .f-field-wrapper .f-label + .f-field {
            width: 69%;
            float: right;
        }
        .f-input {
            padding: 0;
        }
    }
}

@media screen and (max-width: 1190px) {
    .b-search {
        .g-container {
            padding: 0;
        }
        .g-col-left {
            display: none;
        }
        .g-col-center {
            width: 100%;
            padding: 0;
        }
    }
}