.b-breadcrumb {
    max-width: 1170px;
    margin: 0 auto 15px;
    color: #8b8b8b;
    a {
       color: #8b8b8b;
       &:hover {
        text-decoration: underline;
       } 
    }
}

@media screen and (max-width: 1190px) {
    .b-breadcrumb {
        padding: 0 10px;
    }
} // end max-width: 1190px

@media screen and (max-width: 600px) {
    .b-breadcrumb {
        background-color: #6979a7;
        color: #fff;
        & :nth-child(1),
        & :nth-child(2) {
            display: none;
        }
        a {
            color: #fff;
            line-height: 30px;
        }
    }
} // end max-width: 600px