.l-main_account {
    &__header {
    }
    &__content {
        margin: 30px 0;
        display: flex;
    }
    &__left {
        width: 270px;
    }
    &__right {
        width: calc(100% - 270px - 15px);
        padding-left: 15px;
    }
    .list-group {
        &-item {
            display: block;
            width: 100%;
            line-height: 1.5em;
            padding: 0 15px;
            font-size: 15px;
            &:hover {
                background: #39adff;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    h1, h2 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    p {
        padding: 0.3em 0 1em;
    }
}

.b-acc-top {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
    color: #9399aa;
    font-size: 14px;
    position: relative;
    a,
    &__item {
        color: #9399aa;
        font-size: 14px;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
        padding: 0 10px;
        &:hover {
            text-decoration: none;
        }
        &.active:after,
        &:hover:after,
        &:focus:after {
            content: '';
            position: absolute;
            width: 92%;
            height: 3px;
            background: #39adff;
            left: 4%;
            right: 4%;
            bottom: -22px;
        }
    }
    &__hidden-items {
        width: auto;
        position: absolute;
        //border: 1px solid #39adff;
        background: #fff;
        @include box-shadow(0, 5px, 21px, rgba(22, 23, 24, 0.28));
        right: 0;
        top: 45px;
        background: #fff;
        padding: 10px;
        a {
            width: 100%;
            display: block;
            text-align: right;
            line-height: 1.5em;
            padding: 5px 15px;
            &.active,
            &:focus,
            &:hover {
                background: #39adff;
                color: #fff;
                &:after {
                    content: none;
                }
            }
        }
    }
}

.b-acc-top__hidden-items {

}


.b-account-form {
    margin-bottom: 20px;
    &__title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    .f-field.f-radio-group {
        padding: 10px;
    }
    .f-field-wrapper .f-label {
        width: 37%;
        line-height: 35px;
    }
    .f-field-wrapper .f-label + .f-field {
        width: 61%;
    }
    .f-group {
        width: 100%;
        margin-bottom: 15px;
        &.f-required label:after {
            content: '*';
        }
    }
    .f-label {
        color: #303030;
        font-size: 16px;
    }
    .f-input {
        padding: 10px;
        color: #303030;
        &:focus {
            border: 1px solid #39adff;
        }
    }
    .f-select {
        width: 100%;
        padding: 10px;
        color: #303030;
        border: 1px solid #aaa;
    }
    .f-radio {
        margin-right: 20px;
    }
    .f-field-group {
        width: 61%;
        &_radio {
            width: 61%;
        }
    }
    .f-buttons {
        margin-top: 10px;
    }
}

.table-addresses {
    &__row {
        overflow: hidden;
        margin: 10px 0;
        border-bottom: 1px solid #39adff;
        padding: 10px;
        & > div {
            float: left;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__count {
        width: 20%;
        padding-left: 5%;
    }
    &__result {
        width: 50%;
        &-title {
            width: 25%;
            display: inline-block;
            text-align: right;
        }
        &-value {
            width: 69%;
            display: inline-block;
            margin-left: 3%;
        }
    }
    &__edit {
        width: 15%;
    }
    &__remove {
        width: 15%;
    }
}