.l-main_account {
    &__header {
    }
    &__content {
        margin: 30px 0;
        display: flex;
    }
    &__left {
        width: 270px;
    }
    &__right {
        width: calc(100% - 270px - 15px);
        padding-left: 15px;
    }
    .list-group {
        &-item {
            display: block;
            width: 100%;
            line-height: 1.5em;
            padding: 0 15px;
            font-size: 15px;
            &:hover {
                background: #39adff;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    h1, h2 {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    p {
        padding: 0.3em 0 1em;
    }
}

.b-account-form {
    margin-bottom: 20px;
    &__title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    .f-field.f-radio-group {
        padding: 10px;
    }
    .f-field-wrapper .f-label {
        width: 37%;
        line-height: 35px;
    }
    .f-field-wrapper .f-label + .f-field {
        width: 61%;
    }
    .f-group {
        width: 100%;
        margin-bottom: 15px;
        &.f-required label:after {
            content: '*';
        }
    }
    .f-label {
        color: #303030;
        font-size: 16px;
    }
    .f-input {
        padding: 10px;
        color: #303030;
        &:focus {
            border: 1px solid #39adff;
        }
    }
    .f-select {
        width: 100%;
        padding: 10px;
        color: #303030;
        border: 1px solid #aaa;
    }
    .f-radio {
        margin-right: 20px;
    }
    .f-field-group {
        width: 61%;
        &_radio {
            width: 61%;
        }
    }
    .f-buttons {
        margin-top: 10px;
    }
}

.table-addresses {
    &__row {
        overflow: hidden;
        margin: 10px 0;
        border-bottom: 1px solid #39adff;
        padding: 10px;
        & > div {
            float: left;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &__count {
        width: 20%;
        padding-left: 5%;
    }
    &__result {
        width: 50%;
        &-title {
            width: 25%;
            display: inline-block;
            text-align: right;
        }
        &-value {
            width: 69%;
            display: inline-block;
            margin-left: 3%;
        }
    }
    &__edit {
        width: 15%;
    }
    &__remove {
        width: 15%;
    }
}