@media screen and (max-width: 1068px) {
    ul { margin: 0; padding: 0; list-style: none; }
    .b-mobile_social_menu-facebook::after { content: ""; }
    .b-mobile_social_menu-facebook::after { content: ""; }
    .b-mobile_social_menu-twitter::after {content: "";}
    .b-mobile_social_menu-instagram::after { content: ""; }
    .b-mobile_social_menu-pinterest::after { content: ""; }
    .b-mobile_social_menu-youtube::after { content: ""; }
    .b-mobile_social_menu-linkedin::after { content: ""; }
    .b-mobile_social_menu-tumblr::after { content: ""; }
    .b-mobile_social_menu-youko::after { content: ""; }
    .b-mobile_social_menu-googleplus::after { content: ""; }
    .b-mobile_social_menu-odnoklassniki::after { content: ""; }
    .b-mobile_social_menu-livejournal::after { content: ""; }
    .b-mobile_social_menu-weibo::after { content: ""; }
    .i-phone-before::before, .i-phone-after::after, .i-mail-before::before, .i-mail-after::after, .i-minus-before::before, .i-minus-after::after, .i-arrow-down-before::before, .i-arrow-down-after::after, .i-arrow-left-before::before, .i-arrow-left-after::after, .i-arrow-right-before::before, .i-arrow-right-after::after, .i-arrow-up-before::before, .i-arrow-up-after::after, .i-cancel-before::before, .i-cancel-after::after, .i-cart-before::before, .i-cart-after::after, .i-menu-before::before, .i-menu-after::after, .i-search-before::before, .i-search-after::after, .i-share-before::before, .i-share-after::after, .i-plus-before::before, .i-plus-after::after, .g-close_button::before, .b-language_selector-close::before, .b-language_selector .js-language_selector::before, .b-productset_tile-close::before, .g-remove_button::before, .b-cart_coupon_code-applied_remove::before, .b-cart_gift_certificate_code-applied_remove::before, .b-cart_coupon_code-applied-remove::before, .b-cart_gift_certificate_code-applied-remove::before, .b-language_selector-country_item:last-child::after, .b-simple_search-fieldset::before, .b-simple_search-category_toggler::after, .b-header_menu_icon-icon::before, .b-header_search-icon::after, .b-minicart-icon::after, .header-promo-close a::after, .b-menu_category-level_1_link::after, .b-menu_category-level_1_parent + .b-menu_category-level_1_parent_text::after, .b-menu_category-level_2_parent + .b-menu_category-level_2_parent_text::after, .b-menu_category-level_1_parent + .b-menu_category-level_1_title .b-menu_category-level_1_parent_text::after, .b-menu_category-level_1_parent:checked + .b-menu_category-level_1_parent_text::after, .b-menu_category-level_2_parent:checked + .b-menu_category-level_2_parent_text::after, .b-menu_category-level_1_parent:checked + .b-menu_category-level_1_title .b-menu_category-level_1_parent_text::after, .b-mobile_social_menu-facebook::after, .b-mobile_social_menu-instagram::after, .b-mobile_social_menu-pinterest::after, .b-mobile_social_menu-twitter::after, .b-mobile_social_menu-youtube::after, .b-mobile_social_menu-vimeo::after, .b-mobile_social_menu-linkedin::after, .b-mobile_social_menu-tumblr::after, .b-mobile_social_menu-vkontakte::after, .b-mobile_social_menu-youko::after, .b-mobile_social_menu-googleplus::after, .b-mobile_social_menu-odnoklassniki::after, .b-mobile_social_menu-livejournal::after, .b-mobile_social_menu-weibo::after, .fancybox-close::before, .b-return_details .i-close::before, .refinement_category .refinement_headline::after, .refinement_category .refinement_headline.expanded::after, .b-accordion-title::after, #p-countryselector .b-countryselect .f-select-wrapper::after, #p-countryselector .b-countryselect-currency_value::after, .js-site_wrapper .b-menu_category-level_1_parent + .js-site_wrapper .b-menu_category-level_1_parent_text::after, .js-site_wrapper .b-menu_category-level_2_parent + .js-site_wrapper .b-menu_category-level_2_parent_text::after, .js-site_wrapper .b-menu_category-level_1_parent:checked + .js-site_wrapper .b-menu_category-level_1_parent_text::after, .js-site_wrapper .b-menu_category-level_2_parent:checked + .js-site_wrapper .b-menu_category-level_2_parent_text::after, .b-scroll_to_top::after, .b-search_actions_top_bar .ui-tabs-nav .ui-tabs-anchor::after, .b-pdp_carousel .b-owl_carousel::after, .b-pdp_carousel .b-owl_carousel-prev::after, .b-pdp_carousel .b-owl_carousel-next::after, .l-product-details .b-product-banning-text .b-content_asset--product-banning-text::before, .b-variation-dropdown::after, .b-simple_modal-close::before, .b-content_asset--product-preorder .pre-order-pdp-label-info::before, .l-recommendations .l-product_carousel .jcarousel-prev::after, .l-recommendations .l-product_carousel .jcarousel-next::after, .b-product_share-addthis .addthis_button_facebook > span::after, .b-product_share-content .addthis_button_facebook > span::after, .b-product_share-addthis .facebook::after, .b-product_share-content .facebook::after, .b-product_share-addthis .addthis_button_tumblr > span::after, .b-product_share-content .addthis_button_tumblr > span::after, .b-product_share-addthis .addthis_button_google > span::after, .b-product_share-content .addthis_button_google > span::after, .b-product_share-addthis .googleplus::after, .b-product_share-content .googleplus::after, .b-product_share-addthis .addthis_button_twitter > span::after, .b-product_share-content .addthis_button_twitter > span::after, .b-product_share-addthis .twitter::after, .b-product_share-content .twitter::after, .b-product_share-addthis .addthis_button_pinterest > span::after, .b-product_share-content .addthis_button_pinterest > span::after, .b-product_share-addthis .pinterest::after, .b-product_share-content .pinterest::after, .b-product_share-addthis .addthis_button_instagram > span::after, .b-product_share-content .addthis_button_instagram > span::after, .b-checkout_title-arrow::after, .b-add_to_wishlist_button::before, .b-remove_product_button::before, .sales-tax .sale-tax-icon::before, .b-faq_content-title::after, .b-faq_content .js_accordion_description--open .b-faq_content-title::after {
        font-family: "dg-icons";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        speak: none;
        text-decoration: none;
        text-transform: none;
    }
}









/*  header.tpl START */
@media screen and (max-width: 1068px) {
    .mob-main_navigation { display: block; }
    .mob-header-menu-nav { display: none; position: absolute; background: #fff; z-index: 100; top: 56px; text-transform: uppercase; width: 300px; }
    .mob-header-menu-nav ul {
        margin-bottom: 0;
    }
    .mob-header-menu-nav ul li {
        font:normal normal 16px/1.5 "FuturaStd-Medium",Arial,sans-serif;
        background: #fff;
        position: relative;
    }
    .mob-header-menu-nav span,
    .mob-header-menu-nav a {
        display: block;
        border-bottom: 1px solid #c5c5c5;
        padding: 10px 30px 10px 15px;
        cursor: pointer;
    }
    .mob-header-menu-nav span::before {
        content: "";
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        font-size: 21px;
        font-family: "dg-icons";
        position: absolute;
        top: 6px;
        right: 7px;
        cursor: pointer;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    .mob-header-menu-nav span.active::before {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .mob-menu_category-level_2_list {
        border-bottom: 1px solid #c5c5c5;
    }
    .mob-menu_category-level_2_list li span,
    .mob-menu_category-level_2_list li a {
        font-size: 13px;
    }
    .mob-menu_category-level_2_list span,
    .mob-menu_category-level_2_list a {
        border: none;
    }
    .mob-menu_category-level_3_list li a {
        padding: 10px 30px 10px 30px;
    }

    .mob-header-menu-nav ul.mob-service_menu li {
        font:normal normal 16px/1.5 "FuturaStd-Medium",Arial,sans-serif;
        background: #000;
        color: #fff;
    }
    .mob-header-menu-nav ul.mob-service_menu li a {
        color: #fff;
    }
}
@media screen and (max-width: 500px) {
.l-header_main .b-header_main-wrapper {
    padding-left: 0;
    padding-right: 11px;
}
}
@media screen and (max-width: 440px) {
    /*.l-header_service_menu-item-login { display: none; }*/
    .l-header_service_menu-item-wishlist { display: none; }
    .l-header_service_menu-item-login { margin-left: 15px; }
    .b-vertical_menu-button { margin-right: 0; }
}
/*  header.tpl END */


/*  home.tpl START */
@media screen and (max-width: 1068px) {
    .l-homepage-hero_banner-info { width: 100%; position: static; -webkit-transform: none; transform: none; text-align: center; color: #000000 !important; }
    .l-homepage-hero_banner > a { display: block; }
    .l-homepage-mood_banner { width: 100%; }
}
/*  home.tpl END */

/* category.tpl START */
.h-mob-hidden {
    display: block;
}
@media screen and (max-width: 860px) {
    .l-search_result-content:not(.m-four-columns) { padding: 0; }
    .m-four-columns .b-product_tile { width: 23%; }
    .b-product_tile:hover .b-productile_hover { display: none; }
    .l-breadcrumb { display: none; }
    .b-filter_view-header.b-change_view { display: none; }

    .l-search_result-wrapper .b-refinement_dropdown {
        padding: 10px 1% 0px;
    }
    .l-search_result-wrapper .b-refinement_price_range-value .b-refinement_containter {
        padding: 60px 2% 15px;
        width: 300px;
        margin: 0 auto;
    }
    .b-filter-buttons { display: none; }
    .l-search_result-wrapper .b-refinement_containter {
        padding: 50px 2% 15px;
        width: 300px;
        margin: 0 auto;
    }
    .l-search_result-wrapper .b-refinement_dropdown-flyout {
        height: auto;
    }
    .l-search_result-wrapper .b-refinement {
        float: none;
        width: 100%;
        height: auto;
    }
    .l-search_result-wrapper .b-refinement-ul {
        overflow: auto;
        margin-bottom: 30px;
    }
    .l-search_result-wrapper .b-refinement-sub_title {
        padding: 10px;
        border: 1px solid #999;
        background: #ddd;
        cursor: pointer;
    }
    .h-mob-hidden {
        display: none;
    }
}
/* category.tpl END */


/* product.tpl START */
@media screen and (max-width: 1068px) {
    .l-pdp_primary_content .l-product-details { margin-left: 3%; }
    .l-product_images_container { width: 43% }
    .l-pdp_primary_content .l-product-details { width: 54%; }
}

@media screen and (max-width: 860px) {
    .b-product_header { display: none; }

}

@media screen and (max-width: 600px) {
    .l-product_images_container { width: 100% }
    .l-pdp_primary_content .l-product-details { width: 100%; margin: 0; }
    .l-product-details-wrapper { max-width: none; }
    .l-pdp .b-product_content .b-swatches_size { width: 100%; }
    .b-product_tabs-item { width: 100%; border-bottom: 1px solid #ccc !important; }
    .b-product_tabs-menu { margin-left: 0 !important; }
    .b-product_tabs-link {
        display: block;
        text-align: center;
        width: 95%;
        padding: 5px !important;
    }
    .b-product_thumbnails { display: none; }
    .l-pdp .b-product_primary_image, .b-quickview-wrapper .b-product_primary_image {
        width: 100%;
        margin-left: 0;
    }
    .b-product_primary_image.owl-carousel .owl-dots {
        text-align: center;
        position: relative;
        bottom: 30px;
    }
    .b-product_primary_image.owl-carousel .owl-dot {
        background: #ccc;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        margin: 0 10px;
        transition: 1.5s;
    }
    .b-product_primary_image.owl-carousel .owl-dot.active { background: #000; }

    .b-mini_cart-left, .b-wishlist_flyout-list-left { width: 49%; }
    .b-mini_cart-right, .b-wishlist_flyout-list-right { width: 49%; }
}

@media screen and (max-width: 450px) {
    .b-mini_cart-left { display: none; }
    .b-mini_cart-right { width: 100%; }
}
/* product.tpl END */


/* cart.tpl, checkout.tpl START */
.l-header_service_menu-list .h-show-mob { display: none; }
@media screen and (max-width: 980px) {
    .l-main_checkout { width: 100%; padding: 10px; }
}
@media screen and (max-width: 800px) {
    .l-checkout_cart-left { width: 67%; margin-right: 3%; }
}
@media screen and (max-width: 700px) {
    .l-checkout_cart-left { width: 100%; }
    .l-checkout_cart-right { width: 100%; }
}
@media screen and (max-width: 650px) {
    .b-checkout_progress_indicator-step a,
    .b-checkout_progress_indicator-step span { display: none; }
    .b-checkout_progress_indicator-step.b-checkout_progress_indicator-step--active a,
    .b-checkout_progress_indicator-step.b-checkout_progress_indicator-step--active span { display: inline; }
    .l-header_service_menu-checkout { width: 50%; }
}
@media screen and (max-width: 450px) {
    .b-cart_table-header { display: none; }
    .l-header_service_menu-checkout { width: 30%; }
    .b-cart_table-line_body { overflow: hidden; position: relative; padding-bottom: 20px; }
    .b-cart_table-rows { display: block; float: left; width: auto; position: static; }
    .b-cart_table-rows:nth-child(2) { width: calc(100% - 130px); }
    .b-cart_table-cols { display: block; width: auto; }
    .b-cart_table-cols.b-cart_table-body_col_price { display: none; }
    .b-cart_table-cols.b-cart_table-body_col_total_price { text-align: center; margin-top: 20px; }
    .b-cart_table-cols.b-cart_table-body_col_edit_details { display: none; }
    .b-cart_table-body_col_product-user_actions { right: 0; bottom: 15px; }
    .b-remove_product_button-text { display: none; }
    .b-add_to_wishlist_button-text { display: none; }
    .l-header_service_menu-list .h-hidden-mob { display: none; }
    .l-header_service_menu-list .h-show-mob { display: block; }
}
/* cart.tpl, checkout.tpl END */



/*  information/*.tpl START */
.b-customer_service_navigation-mob-button::before {
    content: "";
    font-size: 26px;
    font-family: 'Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1em;
}
.b-customer_service_navigation-mob-button { position: relative; cursor: pointer; display: none; top: -20px; }
.h-minimized-customer_service-left { display: block; }

@media screen and (max-width: 750px) {
    .l-customer_service-left {
        width: auto;
        padding: 20px;
        position: absolute;
        z-index: 10;
        background: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        border: 1px solid #ccc;
    }
    .l-customer_service-right { width: 100%; float: none; }
    .h-minimized-customer_service-left { display: none; }
    .b-customer_service_navigation-mob-button { display: block; }
}

/*  information/*.tpl END */





/* account/*.tpl START */
.l-main_account {
    min-height: 350px;
}
.l-main_account-left-mob-button::before {
    content: "";
    font-size: 26px;
    font-family: 'Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1em;
}
.l-main_account-left-mob-button { position: relative; cursor: pointer; display: none; top: -20px; }
.h-minimized-main_account-left { display: block; }
@media screen and (max-width: 980px) {
    .l-main_account { padding: 0 5px; }
}
@media screen and (max-width: 850px) {
    .l-main_account .table-addresses_edit { display: block; width: 30%; margin-bottom: 10px; }
    .l-main_account .table-addresses_remove { display: block; width: 30%; }
}
@media screen and (max-width: 650px) {
    .l-main_account-left {
        width: auto;
        padding: 20px;
        position: absolute;
        z-index: 10;
        background: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.1);
        border: 1px solid #ccc;
    }
    .l-main_account-right { width: 100%; float: none; }
    .h-minimized-main_account-left { display: none; }
    .l-main_account-left-mob-button { display: block; }
}
@media screen and (max-width: 450px) {
    .l-main_account .b-product_breadcrumbs { display: none; }
    .l-main_account-edit .f-field-wrapper { width: 50%; }

}
/* account/*.tpl END */



/* footer.tpl START */
@media screen and (max-width: 860px) {
    .l-footer_navigation { display: block; }
    .l-footer_top { display: none; }
    .l-footer_bottom-navigation { display: none; }
    .l-footer-copyright_soc { display: none; }

    .l-footer {
        width: 100%;
        margin: 0 auto;
        max-width: 960px;
        padding: 0;
    }
    .l-footer_navigation {
        background: #f2f2f2;
        text-transform: uppercase;
        text-align: center;
    }
    .b-mobile_footer_menu {
        padding: 0;
    }
    .b-mobile_footer_menu::after {
        content: "";
        display: table;
        clear: both;
    }
    .b-mobile_footer_menu-item {
        font: normal normal 16px/1.5 "FuturaStd-Medium",Arial,sans-serif;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        text-align: center;
        height: 50px;
        width: 50%;
        float: left;
        line-height: 20px;
        display: table;
    }
    .b-mobile_footer_menu-link {
        font-size: 12px;
        vertical-align: middle;
        color: #252525;
        letter-spacing: 2px;
        display: table-cell;
    }
    .b-mobile_misc_menu {
        border-top: 1px solid #ccc;
        display: table;
        width: 100%;
        letter-spacing: .2em;
    }
    .b-mobile_misc_menu::after {
        content: "";
        display: table;
        clear: both;
    }
    .b-mobile_misc_menu-item {
        font: normal normal 16px/1 "FuturaStd-Medium",Arial,sans-serif;
        text-align: center;
        display: table-cell;
        border-right: 1px solid #ccc;
        height: 50px;
        letter-spacing: 0;
        vertical-align: middle;
        width: 33.33%;
        letter-spacing: 2px;
    }
    .b-mobile_misc_menu-link {
        font-size: 12px;
        color: #252525;
    }
    .b-language_selector {
        text-align: center;
        border-width: 1px 0;
        border-style: solid;
        border-color: #ccc;
        padding: 15px 0;
        letter-spacing: .2em;
        font-size: 12px;
        cursor: pointer;
    }
    .b-mobile_social_menu {
        padding: 5px 8% 5px;
        text-align: center;
    }
    .b-mobile_social_menu::after {
        content: "";
        display: table;
        clear: both;
    }
    .b-mobile_social_menu-item {
        font: normal normal 20px/1.6 "FuturaStd-Medium",Arial,sans-serif;
        text-align: center;
        display: inline-block;
        padding: 0 0 11px;
        letter-spacing: 0;
        width: auto;
        padding: 0 9px;
        border: 1px solid #ccc;
        color: #666;
        width: 45px;
        height: 45px;
        line-height: 42px;
        border-radius: 100%;
        margin: 6px;
        font-size: 20px;
    }
    .b-mobile_social_menu-link {
        color: #666;
    }

    .fancybox-overlay {
        background: rgba(255,255,255,0.8) !important;
    }
    .b-country_language-popup .fancybox-close {
        background-image: none;
        top: 5px;
        right: 5px;
    }
    .b-country_language-popup {
        width: 90% !important;
        border: 1px solid #000 !important;
    }
    .b-country_language-popup .fancybox-skin {
        background: #fff;
    }
    .b-country_language-popup .fancybox-inner {
        width: 100% !important;
        height: auto !important;
        margin-top: 21px;
        max-height: 300px;
    }
    .b-language_selector-flyout {
        box-shadow: none;
        position: static;
        max-height: none;
    }
    .b-language_selector-country {
        width: 50%;
        float: left;
    }
    .b-language_selector-language {
        width: 50%;
    }
    .b-language_selector-country_title {
        display: block;
    }
    .b-language_selector-country_link {
        text-transform: uppercase;
    }
    .b-language_selector-language_link {
        text-transform: uppercase;
    }
}
/* footer.tpl END */







