* {
	box-sizing: border-box;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none !important;
}

html {
	margin: 0;
	height: 100%;
}

body {
	height: 100%;
    font-size: 13px;
    font-family: Arial, serif;
    color: #1C3052;
	line-height: 24px;
    padding: 0;
    margin: 0;
    background: #F6F6F6;
    -webkit-text-size-adjust: none;
}

header, nav, section, article, aside, figure, footer {
	display: block;
	padding: 0;
	margin: 0;
}

/*tags*/

a {
	color: #1C3052;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	padding: 0 0 15px 0;
	margin: 0;
}

ul, ol {
	padding: 10px;
	margin: 0;
}

img {
	display: block;
	border: none;
}

/*end tags*/

/*titles*/

h1 {
	
}

h2 {
	font-size: 15px;
	color: #1C3052;
	text-transform: uppercase;
	padding: 0 0 15px;
	margin: 0;
}

h3 {
	
}

h4 {
	
}

/*end titles*/

/*form elements*/

input:focus, textarea:focus {
    outline: none;
    -webkit-appearance: none;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	height: 24px;
	display: block;
	font-size: 12px;
	font-family: inherit;
	color: #999;
	line-height: 14px;
	padding: 5px 10px;
	margin: 0;
	border: 1px solid #ccc;
	background: #fff;
}

textarea {
	width: 100%;
	height: 90px;
	font-size: 12px;
	font-family: inherit;
	color: #999;
	line-height: 14px;
	padding: 5px 10px;
	margin: 0;
	border: 1px solid #ccc;
	resize: vertical;
	background: #fff;
}

.icheckbox {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 0 3px 0 0;
	position: relative;
	top: 2px;
	background: url(../images/site-bg/checkbox-bg.png) no-repeat 0 0;
}

.icheckbox.hover {
	background-position: 0 -15px;
}

.icheckbox.checked {
	background-position: 0 -30px;
}

.icheckbox.checked.hover {
	background-position: 0 -45px;
}

.iradio {
	width: 14px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	margin: 0 3px 0 0;
	position: relative;
	top: 2px;
	background: url(../images/site-bg/radio-bg.png) no-repeat 0 0;
}

.iradio.hover {
	background-position: 0 -14px;
}

.iradio.checked {
	background-position: 0 -28px;
}

.iradio.checked.hover {
	background-position: 0 -42px;
}

/*end form elements*/

/* !navigation */

nav.inline ul {
	list-style: none;
	padding: 0;
}

nav.inline ul li {
	float: left;
}

nav.center {
	overflow-x: hidden;
}

nav.center ul {
	position: relative;
	left: 50%;
	float: left;
}

nav.center ul li {
	position: relative;
	right: 50%;
}

/* end navigation */

/* select */

.selectboxit-container {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.selectboxit {
	width: 150px !important;
	height: 22px;
	display: inline-block;
	font-size: 15px;
	color: #1C3052;
	line-height: 20px;
	padding: 0 15px 0 10px;
	cursor: pointer;
	background: #fff url("../images/site-bg/select-bg2.png") no-repeat right center;
}

.selectboxit-options {
	width: 140px !important;
	display: none;
	padding: 5px 0;
	position: absolute;
	top: 22px; left: 0;
	border: 1px solid #ACACAC;
	background: #fff;
}

.selectboxit-options li {
	list-style: none;
}

.selectboxit-options li a {
	display: block;
	padding: 0 10px;
	cursor: pointer;
}

.selectboxit-options li a:hover {
	color: #fff;
	text-decoration: none;
	background: #ccc;
}

.selectboxit-focus {

}

.special-select {

}

.special-select .selectboxit {
	width: 205px !important;
	height: 28px;
	line-height: 26px;
	padding: 0 20px 0 10px;
	border: 1px solid #777777;
	border-radius: 5px;
	background: #fff url("../images/site-bg/select-bg.jpg") no-repeat right center;
}

.special-select .selectboxit-options {
	width: 205px !important;
	border: 1px solid #777;
	border-radius: 5px;
}

/* end select */

/*buttons*/

.button {
	display: block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	border: none;
}

.yellow-button {
	height: 36px;
	display: inline-block;
	font-family: Arial, serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 7px;
	background: #F8AA1C;
}

.yellow-button:hover {
	text-decoration: none;
	background: #ffc458;
}

.border-button {
	height: 46px;
	display: inline-block;
	font-family: Arial, serif;
	font-size: 15px;
	font-weight: bold;
	color: #F8AA1C;
	line-height: 42px;
	padding: 0 30px;
	border: 2px solid #F8AA1C;
	cursor: pointer;
	border-radius: 5px;
}

.border-button:hover {
	color: #fff;
	text-decoration: none;
	background: #F8AA1C;
}

/*end buttons*/

/*table*/

table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}

table td {
	padding: 0;
}

/*end table*/

/*global class*/

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}

.clearfix:after {
	clear: both;
}

.clear {
	clear: both;
}

.wrapper {
    width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: auto;
	position: relative;
}

.inner-block {
	max-width: 1600px;
	min-width: 300px;
	margin: auto;
}

.content-section .inner-block {
	padding: 10px 10px 40px;
	-moz-box-shadow: 0 0 81px rgba(0,0,0,0.08);
	-webkit-box-shadow: 0 0 81px rgba(0,0,0,0.08);
	-o-box-shadow: 0 0 81px rgba(0,0,0,0.08);
	box-shadow: 0 0 81px rgba(0,0,0,0.08);
	background: #fff;
}

/*global class*/

/*header section*/

.header-section {
	padding: 15px 0;
	margin: 0 0 10px;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #ececec;
	background: #fff;
}

.header-section .inner-block {
	position: relative;
}

.logo {
	display: inline-block;
}

/*head menu*/

.head-menu {
	padding: 5px 0 0 25px;
}

.menu-button {
	display: none;
}

.tablet-menu {
	display: none;
}

.head-menu ul li {
	margin: 0 0 0 25px;
}

.head-menu ul li:first-child {
	margin: 0;
}

.head-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #1C3052;
	position: relative;
}

.head-menu ul li:hover a,
.head-menu ul li a.active {
	text-decoration: none;
	border-bottom: 2px solid #F8AA1C;
}

.drop-menu-box {
	width: 100%;
	display: none;
	padding: 20px 15px 20px 25px;
	position: absolute;
	top: 55px; left: 0;
	border: 1px solid #EBEBEB;
	background: #fff;
}

.drop-menu-box:before {
	width: 100%;
	height: 60px;
	display: block;
	position: absolute;
	top: -30px; left: 0;
}

.head-menu ul li:hover .drop-menu-box {
	display: block;
}

.head-menu ul li a.drop.active:after,
.head-menu ul li:hover a.drop:after {
	content: '';
	width: 30px;
	height: 18px;
	display: block;
	margin: 0 0 0 -15px;
	position: absolute;
	bottom: -27px; left: 50%;
	z-index: 1;
	background: url("../images/site-bg/menu-drop-arrow.png") no-repeat;
}

.drop-menu-box .column {
	width: 203px;
	padding: 0 20px 0 0;
}

.drop-menu-box .column h2 {
	padding: 0 0 5px;
}

.menu-banner {
	display: block;
}

.menu-banner img {
	width: 100%;
}

.drop-menu-box .column ul {
	padding: 0 0 15px;
}

.drop-menu-box .column ul:last-child {
	padding: 0;
}

.drop-menu-box .column ul li {
	float: none;
	padding: 0;
	margin: 0;
	line-height: 26px;
}

.drop-menu-box .column ul li a {
	font-size: 15px;
	text-transform: none;
}

.drop-menu-box .column a:hover {
	text-decoration: underline;
}

.drop-menu-box .column ul li a:after,
.drop-menu-box .column h2 a:after {
	display: none !important;
}

.drop-menu-box .column ul li:hover a,
ul li:hover .drop-menu-box .column a {
	border: none !important;
}

.drop-menu-box .column.long {
	width: 445px;
	padding: 0;
	float: right;
}

.drop-menu-box .column .inner-column {
	display: inline-block;
	padding: 0 0 0 55px;
}

.drop-menu-box .column .inner-column:first-child {
	padding: 0;
}

.drop-menu-box .column .line {
	padding: 34px 0 0;
}

.drop-menu-box .column h2.special {
	padding: 0 0 30px;
}

/*end head menu*/

.search {
	width: 405px;
	height: 36px;
	margin: 0 50px 0 0;
	background: #EDEDED;
}

.search input {
	width: 369px;
	height: 36px;
	padding: 0 0 0 10px;
	font-size: 14px;
	color: #1c3052;
	font-family: Arial, sans-serif;
	border: none;
	background: none;
}

.search button {
	width: 36px;
	height: 36px;
	border: none;
	cursor: pointer;
	background: url("../images/icon/loop-icon.png") no-repeat center;
}

.search button:hover {
	opacity: 0.8;
}

.like-button {
	width: 23px;
	height: 21px;
	display: inline-block;
	position: relative;
	background: url("../images/icon/icon2.png") no-repeat;
}

.view-button {
	width: 30px;
	height: 17px;
	display: inline-block;
	position: relative;
	background: url("../images/icon/icon1.png") no-repeat;
}

.like-button .number,
.view-button .number {
	width: 17px;
	height: 17px;
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	line-height: 16px;
	text-align: center;
	position: absolute;
	top: -9px; right: -5px;
	border-radius: 9px;
	background: #F8AA1C;
}

.like-button .number {
	top: -7px;
}

.header-section .like-button {
	margin: 9px 0 0 30px;
}

.header-section .view-button {
	margin: 11px 0 0 0;
}

/*private office*/

.private-office {
	padding: 0 0 0 15px;
	position: relative;
}

.form-office-drop-button {
	width: 40px;
	height: 66px;
	display: block;
	margin: -15px 0;
	background: url("../images/icon/enter-icon.png") no-repeat center;
}

.form-office-drop-button:hover,
.private-office:hover .form-office-drop-button {
	background: #EDEDED url("../images/icon/enter-icon-hover.png") no-repeat center;
}

.form-office-drop {
	width: 230px;
	display: none;
	text-align: center;
	line-height: 17px;
	padding: 15px 20px;
	border: 1px solid #EBEBEB;
	position: absolute;
	top: 51px; right: -1px;
	background: #fff;
}

.private-office:hover .form-office-drop {
	display: block;
}

.form-office-drop .title {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 0 0 13px;
}

.form-office-drop input {
	height: 36px;
	width: 100%;
	display: block;
	font-family: Arial, serif;
	font-size: 14px;
	color: #B2B2B2;
	padding: 0 15px;
	margin: 0 0 15px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}

.form-office-drop label {
	font-size: 14px;
	cursor: pointer;
}

.form-office-drop .row {
	text-align: left;
	padding: 0 0 13px;
	margin: -2px 0 0;
}

.form-office-drop .yellow-button {
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}

/*end private office*/

/*end header section*/

/*category list info*/

.category-list-info {
	padding: 0 0 25px;
}

.banners {
	margin: 0 0 0 270px;
}

.banners .banner {
	width: 50%;
	padding: 0 10px 0 0;
	position: relative;
}

.banners .banner img {
	width: 100%;
}

.banners .banner:last-child {
	padding: 0 0 0 10px;
}

.banners .banner span {
	height: 60px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	line-height: 60px;
	padding: 0 25px;
	position: absolute;
	bottom: 20px; left: 20px;
	background: rgba(68, 91, 131, 0.78);
}

.banners .banner figure {
	margin: 10px 0 0;
}

.banners .banner figure img {
	width: 100%;
}

.banners .banner figure:first-child {
	margin: 0;
}

/*end category list info*/

/*category menu*/

.category-menu {
	width: 270px;
	display: block;
	padding: 7px 15px 5px;
	border: 1px solid #ECECEC;
	border-radius: 2px;
}

.category-menu ul {
	padding: 0 0 25px;
}

.category-menu ul:last-child {
	padding: 0;
}

.category-menu ul li {
	list-style: none;
	padding: 1px 0 0;
}

.category-menu ul li ul {
	padding: 5px 0 0 20px;
}

.category-menu ul li:first-child {
	padding: 0;
}

.category-menu ul li a {
	font-size: 15px;
}

/*end category menu*/

/*important product*/

.important-product {
	padding: 0 0 25px;
}

.important-product .row {
	margin: 0 0 0 -30px;
}

.small-product-box {
	width: 20%;
	position: relative;
	padding: 0 0 0 30px;
}

.small-product-box:first-child {
	margin: 0;
}

.small-product-box img {
	width: 100%;
}

.small-product-box h2 {
	width: 210px;
	height: 46px;
	display: inline-block;
	line-height: 46px;
	text-transform: none;
	text-align: center;
	position: absolute;
	margin: 0 0 0 -105px;
	bottom: 10px; left: 50%;
	background: rgba(255, 255, 255, 0.85);
}

/*end important product*/

/*top store section*/

.top-store-section {
	padding: 0 0 35px;
}

.top-store-section .info-line {
	padding: 0 0 20px;
}

.top-store-section .info-line figure {
	width: 200px;
}
.top-store-section .info-line figure img {
	
}

.top-store-section .info-line .info {
	margin: 0 0 0 250px;
}

/*product*/

.product {
	width: 19%;
	height: 380px;
	cursor: pointer;
	position: relative;
	margin: 0 1% 0 0;
}

.product-line {

}

.product .inner {
	padding: 20px;
	border: 1px solid transparent;
	background: #fff;
}

.product:hover .inner {
	width: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	border: 1px solid #DEDEDE;
}

.product figure {
	width: 100%;
	height: 285px;
	padding: 0 0 10px;
	text-align: center;
}

.product figure img {
	display: inline-block;
}

.discount {
	width: 30px;
	height: 30px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	background: #F8AA1C;
}

.product .discount {
	position: absolute;
	top: 10px; left: 20px;
}

.product:hover .discount {
	top: 9px; left: 19px;
}

.love-button {
	width: 34px;
	height: 33px;
	display: inline-block;
	background: url("../images/icon/like-icon.png") no-repeat;
}
.love-button:hover {
	opacity: 0.7;
}

.product .love-button {
	border-radius: 17px;
	position: absolute;
	top: 10px; right: 10px;
}

.product .name,
.product .status,
.product .price {
	font-size: 15px;
}

.product .price .old-price {
	font-size: 13px;
	color: #909090;
	text-decoration: line-through;
	margin: 0 0 0 5px;
}

.product .site,
.product .size	{
	font-size: 14px;
}

.info-button {
	width: 17px;
	height: 17px;
	display: inline-block;
	background: url("../images/icon/info-icon.png") no-repeat;
}

.info-button:hover {
	opacity: 0.7;
}

.product .info-button {
	position: absolute;
	top: 375px; right: 15px;
}

.product .love-button,
.product .site,
.product .size,
.product .info-button {
	display: none;
}

.product:hover .love-button,
.product:hover .site,
.product:hover .size,
.product:hover .info-button {
	display: block;
}

/*end product*/

/*end top store section*/

/*popular brands section*/

.popular-brands-section {
	padding: 0 0 30px;
}

.popular-brands-section ul li {
	width: 14%;
	list-style: none;
	float: left;
	padding: 0 0 0 70px;
}

.popular-brands-section ul li:first-child {
	padding: 0;
}

.popular-brands-section ul li .inner {
	display: table-cell;
	height: 80px;
	vertical-align: middle;
}

.popular-brands-section ul li a {
	display: inline-block;
}

.popular-brands-section ul li a:hover {
	opacity: 0.7;
}

.popular-brands-section ul li a img {

}

/*end popular brands section*/

.about-section {
	line-height: 26px;
}

.about-section h2 {
	font-size: 15px;
	padding: 0 0 10px;
}

/*sidebar*/

.sidebar {
	width: 265px;
	padding: 10px 25px 0 15px;
}

.sidebar .category-menu {
	width: auto;
	border: none;
	padding: 0;
}

.sidebar h2 {
	text-transform: none;
	padding: 0 0 5px;
}

/*end sidebar*/

/*cont*/

.cont {
	float: none;
	margin: 0 0 0 265px;
}

.inner-special-box {
	width: 100%;
	display: table;
}

/*breadcrumbs*/

.breadcrumbs {
	padding: 0 0 15px;
}

.breadcrumbs ul li {
	padding: 0 10px 0 0;
}

.breadcrumbs ul li a {
	margin: 0 10px 0 0;
}

/*end breadcrumbs*/

/*sort section*/

.sort-section {
	
}

.big-title {
	font-size: 20px;
	color: #1C3052;
	padding: 0;
}

.sort-select-line {
	font-size: 14px;
	padding: 0 0 10px;
	margin: 0 0 20px;
	border-bottom: 1px solid #BFBFBF;
}

.sort-select-line .title {
	display: inline-block;
	margin: 0 -5px 0 0;
}

.filter-line {
	font-size: 14px;
	padding: 0 0 15px;
}

.filter-line .scrollblock {
	height: 338px;
	max-width: 1244px;
	width: auto !important;
	position: relative;
	bottom: 10px;
	margin: 0 0 -300px;
}

.filter-line .scrollblock .inner {
	width: 1560px;
}

.filter-drop-box {
	display: none;
}

.filter-line .title {
	display: inline-block;
	font-weight: bold;
}

.filter-box {
	display: inline-block;
	position: relative;
	padding: 0 0 0 20px;
}

.filter-link {
	display: inline-block;
	font-size: 15px;
	padding: 0 13px 0 0;
	position: relative;
	z-index: 10;
	background: url("../images/site-bg/select-bg2.png") no-repeat right 10px;
}

.inner-filter-slider {

}

.menu-tablet-line {
	display: none;
}

.drop-filter-box {
	width: 275px;
	display: none;
	padding: 25px;
	margin: 0 0 0 -137px;
	border: 2px solid #F1F1F1;
	position: absolute;
	top: 35px; left: 50%;
	z-index: 1;
	-moz-box-shadow: 0 0 24px rgba(0,0,0,0.09);
	-webkit-box-shadow: 0 0 24px rgba(0,0,0,0.09);
	-o-box-shadow: 0 0 24px rgba(0,0,0,0.09);
	box-shadow: 0 0 24px rgba(0,0,0,0.09);
	background: #fff;
}

.drop-filter-box.open {
	display: block;
}

.sort-mobile-box {
	display: none;
}

.drop-filter-box:after {
	content: '';
	border: 15px solid transparent;
	border-bottom: 13px solid #fff;
	margin: 0 0 0 -10px;
	position: absolute;
	top: -28px; left: 50%;
}

.drop-filter-box .special-select {
	margin: 0 0 15px;
}

.drop-filter-box .line {
	padding: 0 0 2px;
}

.drop-filter-box .line .checkbox-box {
	width: 80px;
}

.drop-filter-box .line .checkbox-box:last-child {
	width: 50px;
}

.drop-filter-box .line .checkbox-box label {
	font-size: 15px;
	cursor: pointer;
	text-transform: uppercase;
}

.drop-filter-box .yellow-button,
.product-open-info .right-column .yellow-button,
.add-store-form .yellow-button {
	width: 150px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	margin: 15px 0 0;
	border-radius: 5px;
}

.next-filter-button {
	width: 13px;
	height: 10px;
	display: block;
	margin: 6px 0 0 20px;
	background: url("../images/btn/filter-next-button.png") no-repeat;
}

.sort-section .product {
	width: 24%;
}

.product-line.special {
	padding: 0 0 35px;
	margin: 0 -5px 45px 0;
	border-bottom: 1px solid #BFBFBF;
}

.navigation-line {
	text-align: center;
	padding: 0 0 45px;
}

.navigation-line .border-button {
	margin: 0 -110px 0 0;
}

.navigation-line .navigation {
	padding: 9px 0 0;
}

.navigation-line .navigation ul li a {
	width: 26px;
	height: 26px;
	display: block;
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 26px;
	padding: 1px 0 0;
	margin: 0 0 0 5px;
}

.navigation-line .navigation ul li a.active {
	color: #fff;
	background: #1C3052;
}

.navigation-line .navigation ul li:last-child a {
	width: auto;
	margin: 0 0 0 15px;
}

.product-section {
	padding: 0 0 45px;
}

.title-line {
	padding: 0 0 10px;
	margin: 0 0 25px;
	border-bottom: 1px solid #BFBFBF;
}

.title-line .big-title {
	padding: 0 0 10px;
}

.title-line h2 {
	font-size: 16px;
	text-transform: none;
	padding: 0;
}

.title-line a {
	font-size: 14px;
	text-decoration: underline;
}

.title-line a:hover {
	text-decoration: none;
}

/*end sort section*/

.about-product {

}

.about-product figure {
	width: 460px;
}

.about-product figure img {
	width: 100%;
}

.about-product .info {
	margin: -5px 0 0 475px;
	line-height: 26px;
	text-align: justify;
}

.about-product .info h2 {
	font-size: 16px;
	padding: 0 0 5px;
	text-transform: none;
}

/*end cont*/

/*product open info*/

.product-open-info {
	padding: 0 0 30px;
}

.product-open-info .tab {
	width: 270px;
}

.product-open-info .tab .tab-cont {
	padding: 10px;
	border: 1px solid #DEDEDE;
}

.product-open-info .tab .tab-cont img {
	width: 100%;
}

.product-open-info .tab .tab-link {
	padding: 10px 0 0;
}

.product-open-info .tab .tab-link a {
	width: 72px;
	display: inline-block;
	margin: 0 0 0 10px;
}

.product-open-info .tab .tab-link a:first-child {
	margin: 0;
}

.product-open-info .tab .tab-link a img {
	width: 100%;
	border: 1px solid #DEDEDE;
}

.product-open-info .center-column {
	color: #484848;
	line-height: 24px;
	padding: 0 10px;
	margin: -5px 495px 0 270px;
	float: none;
}

.product-open-info .center-column figure {
	margin: 5px 15px 0 0;
}

.product-open-info .center-column figure img {
	border: 1px solid #DEDEDE;
}

.product-open-info .right-column {
	width: 495px;
	height: 355px;
	font-size: 14px;
	padding: 15px 20px;
	background: #F7F7F7;
}

.product-open-info .right-column .price-info {
	font-size: 16px;
	padding: 0 0 13px;
}

.product-open-info .right-column .price-info span {
	font-size: 20px;
	font-weight: bold;
}

.product-open-info .right-column .yellow-button {
	width: 100%;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.product-open-info .right-column p {
	padding: 10px 0 0;
}

.product-open-info .right-column p a {
	text-decoration: underline;
}

.product-open-info .right-column p a:hover {
	text-decoration: none;
}

/*end product open info*/

/*add store form*/

.add-store-form {

}

.add-store-form h2 {
	font-size: 20px;
	text-transform: none;
	padding: 0 0 15px;
}

.add-store-form form {
	width: 360px;
}

.add-store-form .row {
	padding: 0 0 20px;
}

.add-store-form input {
	width: 100%;
	height: 36px;
	display: block;
	font-size: 14px;
	color: #B2B2B2;
	padding: 0 15px;
	border-radius: 5px;
	border: 1px solid #DCDCDC;
}

.type_file {
	position: relative;
	height: 36px;
	cursor:pointer;
}

.inputFile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	width: 361px;
	cursor:pointer;
	height:36px;
	border: none;
	background: none;
}

.fonTypeFile {
	width: 361px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: url("../images/site-bg/input-file-bg.png") no-repeat left top;
	cursor:pointer;
}

.inputFileVal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 230px !important;
	background: none !important;
	border: none !important;
	cursor:pointer;
	color:#B1B1B1 !important;
	padding: 0 15px;
	line-height:36px;
	height:36px !important;
	font-size:14px !important;
}

.add-store-form .yellow-button {
	width: 100%;
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

/*end add store form*/

.text-box {
	font-size: 15px;
	line-height: 26px;
}

.text-box p {
	padding: 0 0 20px;
}

.text-box .big-title {
	padding: 0 0 15px;
}

/*alphabet section*/

.alphabet-section {

}

.alphabet-section .big-title {
	padding: 0 0 13px;
}

.alphabet-line {

}

.alphabet-line a {
	font-size: 14px;
	color: #7B838F;
	text-transform: uppercase;
}

.alphabet-list {
	padding: 25px 0 10px;
	margin: 15px 0 0;
	border-top: 1px solid #EDEDED;
}

.alphabet-list .letter {
	width: 45px;
	font-size: 27px;
	color: #484848;
	text-transform: uppercase;
	padding: 0 5px 0 0;
	position: relative;
	bottom: 4px;
}

.alphabet-list .column {
	width: 31%;
	padding: 0 50px 0 0;
}

.alphabet-list .column:last-child {
	padding: 0 10px 0 0;
}

.alphabet-list .column ul {
	padding: 0;
}

.alphabet-list .column ul li {
	padding: 0 0 5px;
	list-style: none;
	line-height: 24px;
}

.alphabet-list .column ul li a {
	font-size: 14px;
	color: #7B838F;
}

/*end alphabet section*/

/*footer section*/

.footer-spacer {
	height: 190px;
}

.footer-section {
    width: 100%;
    height: 190px;
	padding: 35px 0 0;
    margin: -190px 0 0 0;
    position: relative;
    z-index: 100;
	background: none;
}

.footer-section .inner-block {
	padding: 0 0 0 20px;
}

.footer-column {
	width: 340px;
	padding: 0 20px 0 0;
}

.footer-column:last-child {
	width: 260px;
	padding: 0;
}

.footer-column .title {
	font-size: 14px;
	font-weight: bold;
	color: #2B2B2B;
	padding: 0 0 9px;
}

.footer-column ul {
	padding: 0;
}

.footer-column ul li {
	list-style: none;
	padding: 0 0 5px;
}

.footer-column ul li a {
	font-size: 14px;
	color: #787777;
}

.footer-column img {
	display: inline-block;
	margin: 5px 20px 0 0;
}

.footer-column img:hover {
	opacity: 0.7;
}

.socials-line {

}

.socials-line .social {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin: 0 5px 0 0;
}

.socials-line .social.item-1 {
	background: url("../images/icon/social-icon1.png") no-repeat;
}

.socials-line .social.item-2 {
	background: url("../images/icon/social-icon2.png") no-repeat;
}

.socials-line .social.item-3 {
	background: url("../images/icon/social-icon3.png") no-repeat;
}

.socials-line .social.item-4 {
	background: url("../images/icon/social-icon4.png") no-repeat;
}

.socials-line .social:hover {
	opacity: 0.7;
}

/*end footer section*/

@media screen and (max-width: 1624px) {

	.inner-block {
		margin: 0 10px;
	}

}