@media screen and (max-width: 1298px) {

    .inner-block {
        margin: 0 10px;
    }

    .inner-special-box {
        width: auto;
        display: block;
    }

    .head-menu .mobile-menu {
        width: 100%;
        display: none;
        padding: 20px;
        position: absolute;
        top: 52px; left: 0;
        -moz-box-shadow: 0 0 28px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 28px rgba(0,0,0,0.1);
        -o-box-shadow: 0 0 28px rgba(0,0,0,0.1);
        box-shadow: 0 0 28px rgba(0,0,0,0.1);
        background: #fff;
    }

    .head-menu .mobile-menu ul li {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
    }

    .drop-menu-box {
        height: 240px;
        width: auto;
        padding: 20px 0 0;
        margin: 0 0 20px;
        position: relative;
        top: 0; left: 0;
        border: none;
        overflow-y: scroll;
    }

    .head-menu ul li a.drop.active:after,
    .head-menu ul li:hover a.drop:after {
        display: none;
    }

    .drop-menu-box .column {
        width: auto;
        float: none;
        padding: 0 0 20px;
    }

    .menu-banner {
        display: none;
    }

    .drop-menu-box .column .inner-column {
        width: auto;
        display: block;
        float: none;
        padding: 0;
    }

    .close {
        width: 2px;
        height: 20px;
        display: block;
        position: absolute;
        top: 15px; right: 20px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #D6D6D6;
    }

    .close:after {
        content: '';
        width: 20px;
        height: 2px;
        display: block;
        position: absolute;
        top: 9px; right: -9px;
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        background: #D6D6D6;
    }

    .search {
        width: 36px;
        height: 36px;
        margin: 0 20px 0 0;
        opacity: 0.5;
        background: none;
    }

    .search input {
        display: none;
    }

    .menu-button {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        color: #1C3052;
        padding: 0 0 0 35px;
        position: relative;
    }

    .menu-button:after {
        content: '';
        width: 25px;
        height: 8px;
        display: block;
        border-top: 2px solid #D6D6D6;
        border-bottom: 2px solid #D6D6D6;
        position: absolute;
        top: 5px; left: 0;
    }

    .menu-button:before {
        content: '';
        width: 25px;
        height: 2px;
        display: block;
        position: absolute;
        top: 10px; left: 0;
        background: #D6D6D6;
    }

    .category-menu {
        display: none;
    }

    .banners {
        margin: 0;
    }

    .important-product,
    .top-store-section,
    .popular-brands-section,
    .about-section {
        display: none;
    }

    /*tablet menu*/

    .tablet-menu {
        padding: 10px 0 0;
        width: 100%;
        position: fixed;
        bottom: 0; left: 0;
        z-index: 102;
        background: #fff;
    }

    .tab-link2 {
        text-align: center;
        padding: 0 0 10px;
    }

    .tab-link2 a {
        display: inline-block;
        font-size: 16px;
        color: #1c3052;
        padding: 2px 0 0;
        margin: 0 10px;
    }

    .tab-link2 a:hover {
        text-decoration: none;
    }

    .tab-link2 a.active {
        border-top: 3px solid #F8AA1C;
        color: #F8AA1C;
    }

    .tab-cont2 {
        border: 1px solid #ECECEC;
    }

    .tab-cont2 .left-side {
        width: 35%;
        padding: 5px 0;
        border-right: 1px solid #ECECEC;
    }

    .tab-cont2 .left-side ul li a {
        display: block;
        font-size: 16px;
        color: #1C3052;
        line-height: 20px;
        padding: 10px 20px;
    }

    .tab-cont2 .left-side ul li a.active {
        border-right: 6px solid #F8AA1C;
        background: #EFEFEF;
    }

    .tab-cont2 .left-side ul li a:hover {
        text-decoration: none;
    }

    .tab-cont2 .right-side {
        width: 65%;
        border-left: 1px solid #ECECEC;
        padding: 7px 15px 25px 55px;
        position: relative;
        left: -1px;
    }

    a.close-tablet-menu {
        display: block;
        width: 19px;
        height: 19px;
        position: absolute;
        top: 10px; right: 10px;
        background: url("../images/btn/close.png") no-repeat;
    }

    .tab-cont2 ul {
        padding: 0;
    }

    .tab-cont2 ul li {
        list-style: none;
    }

    .tab-cont2 .right-side .column-menu {
        width: 250px;
        padding: 0 20px 0 0;
    }

    .tab-cont2 .right-side .column-menu:last-child {
        width: 170px;
        padding: 0;
    }

    .tab-cont2 .right-side .column-menu li {
        line-height: 20px;
        padding: 8px 0;
    }

    .tab-cont2 .right-side .column-menu li a {
        font-size: 17px;
        color: #1c3052;
    }

    .drop-menu-column {
        display: none;
    }

    .drop-menu-column.active {
        display: block;
    }

    /*end tablet menu*/

    .sidebar {
        display: none;
    }

    .special-row.special .sidebar {
        display: block;
    }

    .special-row.special .sidebar .category-menu {
        display: block;
    }

    .special-row.special .cont {
        margin: 0 0 0 265px;
    }

    .special-row.special .cont .inner-special-box {
        display: table;
        width: 100%;
    }

    .alphabet-list .column {
        padding: 0 15px 30px 0;
    }

    .alphabet-list .letter {
        position: absolute;
        top: 21px; left: 0;
    }

    .alphabet-list {
        padding: 25px 0 10px 45px;
        position: relative;
    }

    .cont {
        margin: 0;
        float: none;
    }

    .sort-section .big-title {
        padding: 0 0 10px;
    }

    .sort-section .product,
    .sort-section .product .inner,
    .product,
    .product .inner,
    .product:hover .inner {
        height: auto;
        border: none;
        position: relative;
    }

    .product .discount,
    .product:hover .discount {
        top: 10px; left: 10px;
    }

    .sort-section .product:hover .inner {
        border: none;
    }

    .product-section {
        padding: 0 0 15px;
    }

    .product .discount {
        left: 10px;
    }

    .product-line.special {
        padding: 0 0 10px;
        margin: 0 -5px 25px 0;
    }

    .product .love-button,
    .product .site,
    .product .size,
    .product .info-button {
        display: block;
    }

    .navigation-line {
        padding: 0 0 30px;
    }

    .about-product {
        display: none;
    }

    .sort-select {
        float: left;
    }

    .filter-drop-box {
        display: block;
        position: relative;
        z-index: 101;
    }
    
    .filter-button {
        display: inline-block;
        font-size: 15px;
        line-height: 16px;
        padding: 0 23px 0 0;
        background: url("../images/icon/filter-icon.png") no-repeat right top;
    }

    .filter-drop {
        width: 280px;
        display: none;
        border: 2px solid #F1F1F1;
        position: absolute;
        top: 25px; right: 0;
        -moz-box-shadow: 0 0 24px rgba(0,0,0,0.09);
        -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.09);
        -o-box-shadow: 0 0 24px rgba(0,0,0,0.09);
        box-shadow: 0 0 24px rgba(0,0,0,0.09);
        background: #fff;
    }

    .filter-drop .top-line {
        padding: 14px 15px;
        line-height: 20px;
        background: #F9F9F9;
    }

    .filter-drop .top-line .title {
        font-size: 15px;
        font-weight: bold;
        color: #1c3052;
    }

    .filter-drop .top-line a {
        font-size: 12px;
    }

    .filter-drop ul {
        padding: 0;
    }

    .filter-drop ul li {
        padding: 15px;
        line-height: 15px;
        list-style: none;
        border-top: 1px solid #E7E7E7;
    }

    .filter-drop ul li a {
        font-size: 15px;
        font-weight: bold;
        color: #1c3052;
    }

    .filter-drop ul li a span {
        display: block;
        font-size: 12px;
        font-weight: normal;
        color: #65748e;
    }

    .filter-drop ul li a:hover {
        text-decoration: none;
    }

    .filter-drop .yellow-button {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        margin: 5px 15px 15px;
        border-radius: 5px;
    }

    .filter-line {
        display: none;
    }

    /*menu tablet line*/

    .menu-tablet-line {
        display: block;
        padding: 0 0 10px;
        position: relative;
        bottom: 10px;
    }

    .menu-tablet-line .inner {
        width: 1260px;
    }

    .menu-tablet-line .title {
        height: 14px;
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
        color: #787878;
        padding: 0 20px 0 0;
        margin: 3px 15px 0 0;
        border-right: 1px solid #D6D6D6;
    }

    .menu-tablet-line ul {
        padding: 0;
    }

    .menu-tablet-line ul li {
        float: left;
        font-size: 16px;
        list-style: none;
    }

    .menu-tablet-line ul li a {
        display: inline-block;
        font-size: 16px;
    }

    .menu-tablet-line ul li a.active {
        border-bottom: 2px solid #F8AA1C;
    }

    .menu-tablet-line ul li span {
        display: inline-block;
        margin: 0 13px;
    }

    /*end menu tablet line*/

    .product-open-info {
        display: none;
    }

    .footer-column {
        width: 176px;
        line-height: 17px;
    }

    .footer-column .title {
        padding: 0 0 15px;
    }

    .footer-column ul li {
        padding: 0 0 13px;
    }

    .footer-column:last-child {
        width: 218px;
    }

    .footer-column img {
        margin: 5px 0 0 0;
    }

}