.b-pagination {
    width: 100%;
    height: 49px;
    line-height: 49px;
    background: #f7f4eb;
    font-size: 16px;
    color: #000;
    padding: 0 7%;
    &__prev,
    &__next {
        &:hover {
            text-decoration: none;
            color: #003cd5;
        }
    }
    &__prev {
        float: left;
    }
    &__next {
        float: right;
    }
    &__list {
        display: block;
        margin: 0 auto;
        text-align: center;
        & li {
            display: inline;
            & span {
                display: inline-block;
                line-height: 1em;
                padding: 9px;
                border: 1px solid transparent;
            }
            & a {
                display: inline-block;
                line-height: 1em;
                padding: 9px;
                // border: 1px solid transparent;
                // border-radius: 5px;
                &:hover {
                    // border: 1px solid #39adff;
                    text-decoration: none;
                    color: #003cd5;
                }
            }
            &.active {
                color: #003cd5;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .b-pagination {
        padding: 0;
    }
} // end max-width: 600px
