.b-tab-prices {
    text-align: center;
    white-space: nowrap;
    .b-col__shop {
        width: 14%;
        img {
            max-width: 100%;
            max-height: 100px;
        }
    }
    .b-col__description {
        width: 31%;
        position: relative;
        .b-color {
            width: 17px;
            height: 17px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -8px;
        }
        p {
            padding-left: 25px;
            white-space: normal;
        }
    }
    .b-col__price {
        width: 18%;
        .b-price {
            color: #0087e7;
            font-size: 18px;
            font-weight: 600;
        }
        .b-phone-number {
            line-height: 21px;
            margin-top: 17px;
        }
        .b-show-number {
            color: #0b0b0b;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
        .b-number {
            font-size: 16px;
            color: #F2BA00;
            font-weight: 600;
        }
        .b-show-number + .b-number {
            display: none;
        }
    }
    .b-col__delivery {
        width: 13%;
        color: #414141;
    }
    .b-col__distance {
        width: 10%;
        color: #323232;
    }
    .b-col__button {
        width: 12%;
        a {
            padding: 10px 15px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            background: #39adff;
            border: 1px solid #39adff;
            transition: all 1s;
            @include box-shadow(0, 5px, 12px, rgba(0,0,0,.23));
            &:hover {
                text-decoration: none;
                background-color: transparent;
                color: #39adff;
            }
        }
    }
}




@media screen and (max-width: 800px) {
    .b-tab-prices {
        .b-col__shop {}
        .b-col__description { display: none; }
        .b-col__price { width: 33%; }
        .b-col__delivery { width: 23%; }
        .b-col__distance { display: none; }
        .b-col__button { width: 22%; }
    }
} // end max-width: 800px

@media screen and (max-width: 500px) {
    .b-table__row_title { display: none; }
    .b-table__row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        border-bottom: 1px solid #d1d1d1;
        &:after {
            display: none;
        }
    }
    .b-tab-prices {
        .b-col__shop {
            width: 50%;
            order: 1;
            border-bottom: 2px dotted #d1d1d1;
            margin-bottom: 5px;
            padding-bottom: 5px;
            img {
                max-height: 50px;
            }
        }
        .b-col__price {
            order: 2;
            width: 60%;
            height: 50px;
            .b-price {
                font-size: 14px;
                float: right;
                line-height: 50px;
            }
            .b-phone-number {
                float: left;
                margin-top: 0;
                white-space: normal;
                width: 55%;
                .ic-phone {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .b-col__delivery {
            order: 1;
            width: 50%;
            line-height: 50px;
            border-bottom: 2px dotted #d1d1d1;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }
        .b-col__button {
            order: 2;
            width: 40%;
            a {
                padding: 5px 10px;
                line-height: 50px;
            }
        }
    }
} // end max-width: 500px



