.b-prod__tabs {
    .ui-state-default a,
    .ui-state-default a:link {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0px;
        //     width: 1px;
        //     z-index: 1;
        //     background: #9b9b9b;
        //     padding: 10px 0;
        //     margin: 9px 0;
        // }
    }
    .ui-state-active {
        background: none;
        a, a:link {
            color: #2d2d2d;
            border-bottom: 3px solid #39adff;
        }
    }
    .ui-corner-all {
        border-bottom: 1px solid #ccc;
    }
}


@media screen and (max-width: 700px) {
    .b-prod__tabs .ui-state-default a, .b-prod__tabs .ui-state-default a:link {
        font-size: 14px;
    }
} // end max-width: 700px

@media screen and (max-width: 600px) {
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        width: 100%;
    }
} // end max-width: 600px